.event-information {
  &__title {
    font-weight: bold;
  }

  &__list{
    &.isCompleted {
      text-decoration: line-through;
    }
  }

  &__list-item {
    span {
      font-style: italic;
    }
  }
}
