.events-list {
  &__items {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex-basis: 350px;
    padding: 10px;
    transition: 0.4s;
    border: 1px solid;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__item-title {
    flex: 1 0 auto;
    margin-bottom: 10px;
    text-align: center;
  }

  &__item-image {
    flex: 0 0 auto;
    width: 100%;
  }
}