.event-form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  &__field {
    padding: 5px 10px;
    height: 40px;
    outline: none;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;

    &_notes {
      height: 120px;
    }

    &.error {
      border: 2px solid red;
    }
  }

  &__field-error-text {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 12px;
    color: red;
  }

  &__input {
    &::placeholder {
      color: #c0c0c0;
    }

    &_price {
      flex-basis: 40%;
    }
  }

  &__select {
    width: 100%;
  }

  &__input-range {
    margin-right: 10px;
    width: 40%;
  }

  &__input-range-value {
    span {
      font-weight: bold;
    }
  }

  &__input-price {
    font-weight: bold;
    background: transparent;
    border: none;
  }
}