.registration-information-table {
  display: block;
  overflow: auto;
  margin-bottom: 20px;

  &__header {
    th {
      border: 1px solid #c0c0c0;
    }
  }

  &__body {
    tr:not(.registration-information-table__body-date) {
      border-bottom: 1px solid #c0c0c0;
      background: #d6efd6;
    }
  }

  &__body-date {
    td {
      padding: 15px 0 !important;
    }

    h3 {
      text-align: center;
      font-style: italic;
    }
  }

  th, td {
    text-align: left;
    padding: 2px 5px;

    a {
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }
}