.registration-form {
  &__items-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
