.slider-pagination {
  display: flex;
  column-gap: 5px;

  &__bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background: gray;

    &.is-active {
      background: black;
    }
  }
}