@import '../blocks/dashboard';
@import '../blocks/event-information';
@import '../blocks/event-slider';
@import '../blocks/events';
@import '../blocks/form';
@import '../blocks/header';
@import '../blocks/loader';
@import '../blocks/title';
@import '../blocks/registration-form';