@import '../blocks/cards-list';
@import '../blocks/content';
@import '../blocks/event-information';
@import '../blocks/event-slider';
@import '../blocks/form';
@import '../blocks/header';
@import '../blocks/loader';
@import '../blocks/title';
@import '../blocks/registration-form';
